@CHARSET "UTF-8";

/* 테두리 디자인 */
.inquiry_wrap{
	width: 500px;
	height: 660px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.inquiry_input{
	width: 100%;
	height: 100%;
	border: 1px solid black;
	margin-bottom: 5px;
	border-radius: 10px;
}


/* 글쓰기 입력창 디자인 */
table{
	width: 400px;
	/* border-left: 1px solid black; */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

tr{
	border-bottom: 1px solid black;
}

th{
	width: 80px;
	text-align: right;
}

td{
	padding: 10px;
}

td input{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	font-size: 15px;
	padding-left: 5px;
}

td textarea{
	width: 100%;
	height: 300px;
	border-radius: 5px;
	font-size: 15px;
}

/* 버튼 디자인 */
.inquiry_button .button{
	width: 70px;
	height: 30px;
	border-radius: 5px;
	float: right;
	margin-left: 7px;
}

 
.inquiry_button{
	width: 400px;
	height: 50px;
	/* border: 1px solid black; */
	margin-left: auto;
	margin-right: auto;
}