@CHARSET "UTF-8";

.post_block{
	width: 500px;
	height: 600px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* 게시글 상세보기 디자인 */
table{
	width: 430px;
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	
}

th, td{
	border: 1px solid black;
}

tr{
	height: 40px;
}

th{
	width: 50px;
	background-color: #e9e9e9;
}

td{
	padding-left: 8px;
	padding-right: 8px;
}

#writer{
	width: 110px;
}

#date{
	width: 70px;
}

/* 게시글 버튼 디자인 */
.post_btn_block{
	width: 430px;
	height: 40px;
	/* border: 1px solid green; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.post_btn{
	width: 50px;
	height: 35px;
	float: right;
	border-radius: 5px;
	margin-left: 5px;
}