@CHARSET "UTF-8";

/* 테이블 디자인 */
table{
	width: 800px;
	border-top: 1px solid #444444;
	border-collapse: collapse;
 	margin-left: auto;
	margin-right: auto;
 	margin-bottom: 20px;
}

tr{
	height: 43px;
}

tr.row:HOVER{
	background-color: #d3d3d3;
}

th, td{
	border-bottom: 1px solid #444444;
}

.num{
	width: 60px;
	text-align: center;
}

.subject{
	width: 300px;
	text-align: left;
	padding-left: 20px;
}

.writer{
	width: 100px;
	text-align: center;
}

.date{
	width: 90px;
	text-align: center;
}

.views{
	width: 70px;
	text-align: center;
}

/* 페이지버튼 디자인 */
.page{
	width: 800px;
	height: auto;
	/* border: 1px solid black; */
 	margin-left: auto; 
 	margin-right: auto; 
}

.page .pagebtn{
	display: table;
	/* border: 1px solid black; */
	margin-left: auto;
	margin-right: auto;
}

.page input{
	width: 30px;
	height: 30px;
	background-color: white;
}

/* 글쓰기버튼 디자인 */
.writing{
	width: 800px;
	height: 31px;
	/* border: 1px solid black; */
 	margin-left: auto; 
 	margin-right: auto; 
	margin-bottom: 50px;
}

.writing input{
	width: 70px;
	height: 30px;
	background-color: white;
	float: right;
}

/* 총 게시글 수 블록 디자인 */
.count_search_block{
	width: 800px;
	height: 35px;
	/* border: 1px solid green; */
 	margin-left: auto; 
 	margin-right: auto; 
	position: relative;
}

/* 게시글 개수 & 검색창 디자인 */
.count_search_block .count{
	display: inline-block;
	/* border: 1px solid green; */
	position: absolute;
	bottom: 0;
	margin-bottom: 5px;
}
